In [19]:
# Question 1:
# Create a variable age and assign it the value 25 . Then print the value of
# age along with its data type using the type() function.

age = (25)
print(age,type(age))

25 <class 'int'>

In [39]:
# Question 2:
# Assign the number 12.5 to a variable price . Print both the variable and its
# data type. Then assign the value 12 to the same variable and print its data
# type again. What do you observe? 

price = 12.5
print(price, type(price))

price = 12
print(price, type(price))  # 12.5 is float and 12 is integer

12.5 <class 'float'>
12 <class 'int'>

In [37]:
# Question 3:
# Create a variable is_raining and set it to True . Print the value of the variable
# along with its type. Then set is_raining to False and print the new value and
# type.

is_raining = True
print(is_raining, type(is_raining))

is_raining = False
print(is_raining, type(is_raining))

True <class 'bool'>
False <class 'bool'>

In [59]:
# Question 4:
# Create a variable my_name and store your full name in it as a string. Then
# print the value of my_name using single quotes ' .

my_name = 'Afrin Dilawar Shaikh'
print('My name is'+ " "  + my_name)

My name is Afrin Dilawar Shaikh

In [67]:
# Write a Python program that asks the user for their name and age using the
# input() function. Store the inputs in variables and print a sentence like
# "Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
# integer.

Name = input("Enter your name: ")
Age = input("Enter your age: ")
print("Hello," + Name + "! you are"+" " + str(int(age)) + " years old.")

Enter your name:  Afrin
Enter your age:  25

Hello,Afrin! you are 25 years old.

In [69]:
# Question 6:
# Create two variables x and y and assign them the values 10 and 3.5 ,
# respectively. Print their values and types. Then, create a new variable
# sum_xy and store the sum of x and y . Print the result and its type.

x = 10
y = 3.5
print(x, type(x), y, type(y))

sum_xy = x + y
print("Sum of x and y:", sum_xy)
print("Type of sum_xy:", type(sum_xy))

10 <class 'int'> 3.5 <class 'float'>
Sum of x and y: 13.5
Type of sum_xy: <class 'float'>

In [81]:
# Question 7:
# Using the type() function, check and print the data type of the following:

# 45.0
print(type(45.0))

# "hello"
print(type("hello"))

# None
print(type(None))

# False
print(type(False))

<class 'float'>
<class 'str'>
<class 'NoneType'>
<class 'bool'>

In [87]:
# Question 8:
# Write a Python program to print three strings "apple" , "banana" , and "cherry"
# on the same line, separated by a space. Then modify the program to
# separate the strings using a comma , instead of a space.

print("apple", "banana", "cherry")
print("apple", "banana", "cherry", sep=",")

apple banana cherry
apple,banana,cherry

In [91]:
# Create a variable big_number and assign it a very large integer value (e.g.,
# 987654321987654321 ). Print the value and its type. What do you notice about
# the size of the number?

big_number = 987654321987654321
print(big_number, type(big_number))

987654321987654321 <class 'int'>

In [97]:
# Question 10:
# Write a Python program that prints the result of multiplying two floats (e.g.,
# 2.5 and 3.7 ). Then check and print the data type of the result.

Multiply=(2.5*3.7)
print(Multiply, type(Multiply))

9.25 <class 'float'>